#include "res/resources.h"

RESOURCE_ID_WING1_DIFF      BINARY  "..\\Wing1.dif"
RESOURCE_ID_TRANSFER_DIFF   BINARY  "..\\TRANSFER.dif"
RESOURCE_ID_SM1_DIFF        BINARY  "..\\SM1.dif"
RESOURCE_ID_SM2_DIFF        BINARY  "..\\SM2.dif"
RESOURCE_ID_WING2_DIFF      BINARY  "..\\Wing2.dif"
